:root {
  --primary: #5f27cd;
  --secondary: #95cd27;
  --error: #f00;
  --success: #5ac521;
  --background: #f9f9f9;
}

body {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  gap: 64px;
  align-items: center;
  padding: 32px 64px;
}

.header h1 {
  font-size: 40px;
  color: var(--primary);
}

.header a img {
  width: 20px;
  height: auto;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  background-color: white;
  padding: 16px 64px;
  border-top: 1px solid #00000033;
  border-bottom: 1px solid #00000033;
}

.form .form-group {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form .form-title {
  font-size: 28px;
  font-weight: bold;
  color: var(--primary);
}

.form input,
.form select {
  background: transparent;
  border: 1px solid var(--primary);
  border-radius: 4px;
  padding: 16px;
}

.button {
  display: flex;
  text-align: center;
  background-color: var(--primary);
  color: white;
  font-weight: bold;
  border-radius: 4px;
  padding: 16px;
}

.livros {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 32px;
  align-items: center;
}

.livros .livro {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: white;
  box-shadow: 1px 1px 6px 1px #00000040;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 8px;
}

.livros .livro .title {
  max-width: 200px;
  word-wrap: break-word;
  flex: 2;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.livros .livro .description {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.livros .livro .description label {
  max-width: 200px;
  word-wrap: break-word;
}

.livros .livro .description .pages {
  font-weight: bold;
}

.livros .livro .actions {
  display: flex;
  align-items: flex-start;
  justify-content: end;
  height: 100%;
  flex: 1;
}

.livros .livro .actions button {
  background-color: transparent;
}
