
h1 {
    font-size: 300%;
}

h3 {
    font-size: 150%;
}

#modLivros{
    float:left;
    width: 600px;
    display: table-cell;
}

#modAutores{
    float: left;
    width: 600px;
    display: table-cell
}

#modEditoras{
    float: left;
    width: 600px;

}

#cadLivro {
    position:absolute; 
    top:5%;
    left:90%;
    transform: translate(-50%, -50%);
}

#formLivro {
    width: 150px;
    position:absolute; 
    top:40%;
    left:50%;
    transform: translate(-50%, -50%);
}

#cadAutores {
    position:absolute; 
    top:5%;
    left:90%;
    transform: translate(-50%, -50%);
}

#formAutores {
    width: 150px;
    position:absolute; 
    top:40%;
    left:50%;
    transform: translate(-50%, -50%);
}

#cadEditoras {
    position:absolute; 
    top:5%;
    left:90%;
    transform: translate(-50%, -50%);
}

#formEditoras {
    width: 150px;
    position:absolute; 
    top:40%;
    left:50%;
    transform: translate(-50%, -50%);
}


